name: Test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - "**"

jobs:
  test:
    strategy:
      matrix:
        go-version: ["1.25"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
      - name: Tests
        run: go test -v ./...
      - name: Benchmarks
        run: |
          export GOMAXPROCS=$(nproc)
          echo "GOMAXPROCS: $GOMAXPROCS"
          go test -bench=. -run=^$ ./...
